body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.pointer {
    cursor: pointer;
}